// Find Your Pet The Perfect Mate
color: #453837;
 font-size: 64px;
 font-family: Cagliostro;
 font-weight: 400;
 word-wrap: break-word
---
// Searching for the perfect mate for your cherished pets? Look no further! PetMate is the ultimate web application designed to help pet owners find the ideal companion for their precious furry friends. <br/>With PetMate, finding a suitable match for your pet has never been easier. Just create a profile for your adorable companion, mentioning their breed, age, and unique personality traits. Our intelligent algorithm will then analyze the database for compatible matches, ensuring we find your pet the perfect mate! 
color: #453837;
 font-size: 30px;
 font-family: Cagliostro;
 font-weight: 400;
 word-wrap: break-word
   text-align: justify;
  text-justify: inter-word;
---
// Log in
color: #453837;
 font-size: 60px;
 font-family: Cagliostro;
 font-weight: 400;
 line-height: 87px;
 word-wrap: break-word
---
// Home
color: #453837;
 font-size: 40px;
 font-family: Cagliostro;
 font-weight: 400;
 line-height: 87px;
 word-wrap: break-word
---
// Sign up
color: #453837;
 font-size: 60px;
 font-family: Cagliostro;
 font-weight: 400;
 line-height: 87px;
 word-wrap: break-word